@import "../../custom.scss";

list-schedule {
  .list-schedule-cover {
    text-align: center;
  }
  table, th, td {
    border: 1px solid $color-gray-2;
  }
  table {
    width: 100%;
    tr {
      height: 54px;
      th {
        width: 20%;
      }
      td {
        text-align: center;
      }
    }
  }
}
